<p>
    Hello! ✨
</p>
<p>
    This is a confirmation that your email has been added to 2016 Django: Under
    the Hood ticket lottery. 🎟🎲
</p>
<p>
    <strong>What happens now?</strong>
</p>
<p>
    Sit back and relax! ⛱
</p>
<p>
    We will start inviting the first batch on Thursday July 28th at noon CET,
    and successive batches in the days or weeks after.
</p>
<p>
    Note that if you are invited, you have 72 hours to actually confirm and 
    pay for your ticket, or it will be assigned to someone else.
</p>

<p>
    We're hoping we'll see you in Amsterdam!<br />
    Django: Under The Hood Team
</p>