{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <h1><img src="{% static 'img/tickets-header.png' %}" class="header-image" alt="TICKETS" /></h1>
    {% if start > now %}
        <h2>Sorry, registration is not opened yet!</h2>
        <p>
            Registration for Django: Under The Hood starts on {{ start }}
            and will continue until {{ end }}.
        </p>
        
        <h3>Timeline</h3>
        <ol>
            <li><strong>On Tuesday, July 12, we will open registration.</strong>
            You'll have two weeks to submit your e-mail address for the lottery here, until 
            July 26th at noon CET.</li>

            <li><strong>On Thursday July 28th at noon CET we're going to randomly select attendees 
            who will receive a link to purchase their conference tickets.</strong> This link will be
            valid for 72 hours, and then we will randomly assign it to another attendee until
            all of the tickets have been purchased.</li>
        </ol>
        
        <h3>Pricing</h3>
        <p>
            For 2016, the full conference passes including 1.5 day of Talks and 1.5 of 
            contributing to Open Source alongside core team will have the following pricing:
        </p>

        <ul>
            <li>200€ for individual attendees (paying out of their own pocket) </li>
            <li>300€ for corporate tickets (companies buying tickets for their employees)</li>
        </ul>
        
        <h3>Reserve tickets for your team</h3>
        <p>
            If you want to make sure that tickets for your team are reserved and set aside,
            we'd be happy to discuss a sponsorship opportunity with you. Please get in touch
            with us on <a href="mailto:hello@djangounderthehood.com">hello@djangounderthehood.com</a>
        </p>

    {% endif %}

    {% if now > end %}
        <h1>Sorry, registration closed!</h1>
        <p>
            Registration for Django: Under The Hood 2016 closed at {{ end|date }}.
        </p>
        <p>
            If you'd like to still purchase tickets for the event, we may still
            have some sponsorships slots available. Get in touch:
            <a href="mailto:hello@djangounderthehood.com">hello@djangounderthehood.com</a>.
        </p>
    {% endif %}

    <h3>Details</h3>
    <p>
        You can read more about the registration process on
        <a href="{% url 'blog:article' slug='2016-07-01-registration' %}">our blog</a>.
    </p>
{% endblock %}
