{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <h1><img src="{% static 'img/tickets-header.png' %}" class="header-image" alt="TICKETS" /></h1>
    <h2>Thanks! 💖</h2>

    <p>You're now registered for the ticket lottery with email: <strong>{{ participant.email }}</strong>.</p>
    <p>
        If this email is incorrect, please <a href="mailto:hello@djangounderthehood.com">
        let us know</a>!
    </p>
    
    <h3>What happens now? 🔜</h3>
    <p>
        Sit back and relax! ⛱
    </p>
    <p>
        We will start inviting the first batch on Thursday July 28th at noon CET,
        and successive batches in the days or weeks after.
    </p>
    <p>
        Note that if you are invited, you have 72 hours to actually confirm and 
        pay for your ticket, or it will be assigned to someone else.
    </p>
{% endblock %}
