boto==2.39.0
dj-database-url==0.4.1
dj-static==0.0.6
Django==1.9.5
django-gravatar2==1.4.0
django-storages==1.4.1
django-toolbelt==0.0.1
gunicorn==19.4.5
Markdown==2.6.6
opbeat==3.3
Pillow==3.2.0
psycopg2==2.6.1
static3==0.6.1
whitenoise==3.0
