@pink: white;
@blue: #3A5B9E;
@proxima: 'proxima-nova';
@sketch: 'Cabin Sketch';

body {
    background: url(../img/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;

    color: white;
    line-height: 1.6em;
    font-family: @proxima;
    font-size: 20px;

    margin-bottom: 60px;
}

a, a:hover {
    color: @pink;
    text-decoration: underline;
}
a:hover {
    text-decoration: none !important;
}

.container {
    margin-top: 30px;
}

section {
    margin-top: 60px;
}

nav {
    ul {
        list-style-type: none;
        float: right;
        margin-top: 20px;

        li {
            float: left;
            margin-left: 40px;

            a {
                text-decoration: none !important;
            }
        }
        li.highlighted {
            a {
                background: rgba(255,255,255,0.9);
                color: @blue;
                padding: 7px 10px 5px 10px;

            }
        }
    }
    .logo {
        max-width: 80px;
        float: left;
    }
}

#about {
    .logo {
        text-align: center;
    }
    h1 {
        font-family: @sketch, cursive;
        font-size: 50px;
        margin-bottom: 0.5em;
        margin-top: 0.5em;
        font-weight: 100;
    }
    p {
        font-size: 20px;
        font-family: @proxima;
    }
}

h2, h3, h4 {
    vertical-align: bottom;
    font-family: @sketch;
    font-size: 40px;
    margin-bottom: 20px;

    img {
        margin-right: 15px;
    }
}

h3 {
    font-size: 30px;
    margin: 40px 0 15px 0;
}
h4 {
    font-size: 20px;
    margin: 30px 0 10px 0;
}

#speakers {
    img.speaker {
        max-width: 160px;
        border-radius: 50%;
        float: left;
        margin-right: 30px;
    }
    h3 {
        font-weight: bold;
        font-size: 40px;
    }
    .row {
        margin-bottom: 30px;
    }
}

#schedule {
    .timetable {
        padding: 0 60px 0 15px;
        margin-bottom: 30px;

        .row {
            padding: 5px 0;
        }
        .break {
            background: rgba(255,255,255,0.3);
        }
    }
}

#tickets {
    form {
        width: 50%;
        margin: 30px auto;
        input[type="email"] {
            width: 70%;
            font-size: 20px;
            font-family: @proxima;
            padding: 6px 15px;
            height: auto;
        }
        input[type="submit"] {
            background: #1c2c4c;
            color: white;
            font-family: @proxima;
            text-transform: uppercase;
            border: 0px;
            font-size: 18px;
            height: auto;
            padding: 9px 20px 8px;
        }
    }
    .centered {
        text-align: center;
    }
    .btn {
        background: white;
        color: @blue;
        text-decoration: none;
        font-size: 20px;
    }
    .btn-large {
        font-size: 26px;
        padding: 10px 30px;
        margin: 10px 0 20px;
    }
    .small {
        font-size: 14px;
    }
}

.white-background {
    background: white;
    color: @blue;
    padding-bottom: 30px;

    a, a:hover {
        color: @blue;
    }
}

#sponsors {
    .row {
        margin: 50px 0;

        .col-md-4 {
            text-align: center;
            line-height: 70px;

            img {
                max-width: 90%;
            }
        }
        .col-md-5 {
            img {
                max-width: 90%;
            }
        }
        .col-md-7 {
            font-size: 16px;
            line-height: 160%;
        }
    }

}

footer {

    .hr {
        margin: 50px 0 50px 0;
    }
    .twitter {
        img {
            margin-right: 15px;
        }
    }
    a {
        text-decoration: none !important;
    }
    ul {
        list-style-type: none;
    }

    .credits {
        font-size: 14px;
        text-align: center;
        margin-top: 30px;
    }
}

#coc {
    h3 {
        font-family: @sketch;
        font-size: 32px;
        margin-top: 30px;
    }
}

.cls {
    clear: both;
}
