@pink: white;
@blue: #3A5B9E;
@yellow: #f9bf3b;
@gray: #393939;
@body_font: 'Lato';
@header_font: 'Amaranth';

body {
    background: white;

    color: @gray;
    line-height: 1.6em;
    font-family: @body_font;
    font-size: 20px;

    margin-bottom: 60px;
}

a, a:hover {
    color: @yellow;
    text-decoration: underline;
}
a:hover {
    text-decoration: none !important;
}

section {
    margin-top: 30px;
    margin-bottom: 40px;
}

.container {
    margin-top: 10px;
}

main {
    position: relative;
}

header {
    text-align: center;
    float: left;

    img {
        max-width: 100%;
    }
}

nav {
    position: absolute;
    right: 0;

    @media screen and (max-width: 1000px) {
        position: relative;
        float: right;
    }

    ul {
        list-style-type: none;
        float: right;
        margin-top: 20px;
        padding-left: 0;

        li {
            float: left;
            margin-left: 40px;
            &:first-child {
                margin-left: 0;
            }

            a {
                text-decoration: none !important;
            }
        }
        li.highlighted {
            a {
                background: rgba(255,255,255,0.9);
                color: @blue;
                padding: 7px 10px 5px 10px;

            }
        }
    }
}

#about {
    float: left; 
    margin-top: -30px;

    h1 {
        font-family: @header_font, cursive;
        font-size: 50px;
        margin-bottom: 0.5em;
        margin-top: 0.5em;
        font-weight: 100;
    }
    p {
        font-size: 20px;
        font-family: @body_font;
    }
    .dates {
        padding-left: 30px;
        h2 {
            margin-top: 34px;
            margin-bottom: 26px;
        }
    }
}

h1, h2, h3, h4 {
    vertical-align: bottom;
    font-family: @header_font;
    font-size: 40px;
    margin-bottom: 20px;

    img {
        margin-right: 15px;
    }
}
h1 {
    font-size: 50px;
}
h3 {
    font-size: 30px;
    margin: 40px 0 15px 0;
}
h4 {
    font-size: 26px;
    margin: 30px 0 10px 0;
}

#speakers {
    img.speaker {
        max-width: 220px;
        border-radius: 50%;
        float: left;
        margin-right: 30px;
    }
    h3 {
        font-weight: bold;
        font-size: 40px;
    }
    .speaker {
        margin-bottom: 30px;
    }
}

#attendees {
    margin-top: 30px;

    img.attendee {
        max-width: 100px;
        border-radius: 50%;
        float: left;
        margin-right: 30px;
    }
    h4 {
        font-weight: bold;
        font-size: 22px;
        margin: 20px 0 0 0;
    }
    .col-md-4 {
        margin-bottom: 30px;
    }
    p {
        font-size: 16px;
    }
}

#schedule {
    .timetable {
        padding: 0 60px 0 15px;
        margin-bottom: 30px;

        .row {
            padding: 5px 0;
        }
        .break {
            background: rgba(255,255,255,0.3);
        }
    }
}

#tickets {
    form {
        margin: 30px auto;
        input[type="email"] {
            width: 65%;
            font-size: 20px;
            font-family: @body_font;
            padding: 6px 15px;
            height: auto;
        }
        input[type="submit"] {
            background: @blue;
            color: white;
            font-family: @body_font;
            text-transform: uppercase;
            border: 0px;
            font-size: 18px;
            height: auto;
            padding: 9px 20px 8px;
        }
    }
    .centered {
        text-align: center;
    }
    .btn {
        background: white;
        color: @blue;
        text-decoration: none;
        font-size: 20px;
    }
    .btn-large {
        font-size: 26px;
        padding: 10px 30px;
        margin: 10px 0 20px;
    }
    .small {
        font-size: 14px;
    }

    @media screen and (max-width: 768px) {
        form {
            input[type="email"] {
                display: block;
                width: 100%;
                margin-bottom: 5px;
            }
        }
    }
}

#sponsors {
    .row {
        margin: 30px 0;

        .col-md-7 {
            font-size: 16px;
            line-height: 160%;
        }
    }
    .heart .wrapper {
        text-align: center;
    }
    .heart img {
        width: 100%;
        max-width: 250px;
    }
    .description {
        margin-top: 50px;
    }
    .preview {
        outline: 1px dashed #ccc;
        background-image: url(../img/preview-background.png);
    }
    .sponsor {
        position: relative;
        text-align: center;
        
        .toolbox {
            display: none;
            position: absolute;
            top: 0;
            right: 5px;
            z-index: 9000;
        }
        &:hover {
            .toolbox {
                display: inline;
            }
        }
        .logo {
            max-width: 100%;
        }
    }

}

#talks {
    .row {
        margin-bottom: 30px;

        .speaker {
            max-width: 100px;
            border-radius: 50%;
            float: left;
            margin-right: 30px;
            margin-bottom: 50px;
        }
        h3 {
            margin: 10px 0;
        }
        h4 {
            margin: 0;
        }

        .col-md-7 {
          min-height: 500px;
        }
    }
}

footer {
    h2 {
        margin-bottom: 50px;
    }
    .twitter {
        img {
            margin-right: 15px;
        }
    }
    a {
        text-decoration: none !important;
    }
    ul {
        list-style-type: none;
        padding: 0 0 0 15px;
    }

    .credits {
        font-size: 18px;
        text-align: center;
        margin-top: 30px;
    }
}

#coc {
    float: left; 
    margin-top: -30px;
    h3 {
        font-family: @header_font;
        font-size: 32px;
        margin-top: 30px;
    }
}

.cls {
    clear: both;
}
