body {
  background: url(../img/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  color: white;
  line-height: 1.6em;
  font-family: 'proxima-nova';
  font-size: 20px;
  margin-bottom: 60px;
}
a,
a:hover {
  color: #ffffff;
  text-decoration: underline !important;
}
a:hover {
  text-decoration: none !important;
}
.container {
  margin-top: 30px;
}
section {
  margin-top: 60px;
}
#about .logo {
  text-align: center;
}
#about h1 {
  font-family: 'Cabin Sketch', cursive;
  font-size: 50px;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  font-weight: 100;
}
#about p {
  font-size: 20px;
  font-family: 'proxima-nova';
}
h2 {
  vertical-align: bottom;
  font-family: 'Cabin Sketch';
  font-size: 40px;
  margin-bottom: 20px;
}
h2 img {
  margin-right: 15px;
}
#speakers img.speaker {
  max-width: 160px;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}
#speakers h3 {
  font-weight: bold;
  font-size: 40px;
}
#speakers .row {
  margin-bottom: 30px;
}
#interest form {
  width: 50%;
  margin: 30px auto;
}
#interest form input[type="email"] {
  width: 70%;
  font-size: 20px;
  font-family: 'proxima-nova';
  padding: 6px 15px;
  height: auto;
}
#interest form input[type="submit"] {
  background: #1c2c4c;
  color: white;
  font-family: 'proxima-nova';
  text-transform: uppercase;
  border: 0px;
  font-size: 18px;
  height: auto;
  padding: 9px 20px 8px;
}
footer .hr {
  margin: 50px 0 50px 0;
}
footer .twitter img {
  margin-right: 15px;
}
footer a {
  text-decoration: none !important;
}
footer ul {
  list-style-type: none;
}
#coc h3 {
  font-family: 'Cabin Sketch';
  font-size: 32px;
  margin-top: 30px;
}
