@pink: white;
@blue: #3A5B9E;
@proxima: 'proxima-nova';
@sketch: 'Cabin Sketch';

body {
    background: url(../img/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;

    color: white;
    line-height: 1.6em;
    font-family: @proxima;
    font-size: 20px;

    margin-bottom: 60px;
}

a, a:hover {
    color: @pink;
    text-decoration: underline;
}
a:hover {
    text-decoration: none !important;
}

.container {
    margin-top: 30px;
}

section {
    margin-top: 60px;
}

nav {
    ul {
        list-style-type: none;
        float: right;

        li {
            float: left;
            margin-left: 40px;

            a {
                text-decoration: none !important;
            }
        }
        li.highlighted {
            a {
                background: rgba(255,255,255,0.9);
                color: @blue;
                padding: 7px 10px 5px 10px;

            }
        }
    }
}

#about {
    .logo {
        text-align: center;
    }
    h1 {
        font-family: @sketch, cursive;
        font-size: 50px;
        margin-bottom: 0.5em;
        margin-top: 0.5em;
        font-weight: 100;
    }
    p {
        font-size: 20px;
        font-family: @proxima;
    }
}

h2 {
    vertical-align: bottom;
    font-family: @sketch;
    font-size: 40px;
    margin-bottom: 20px;

    img {
        margin-right: 15px;
    }

}

#speakers {
    img.speaker {
        max-width: 160px;
        border-radius: 50%;
        float: left;
        margin-right: 30px;
    }
    h3 {
        font-weight: bold;
        font-size: 40px;
    }
    .row {
        margin-bottom: 30px;
    }
}

#interest {
    form {
        width: 50%;
        margin: 30px auto;
        input[type="email"] {
            width: 70%;
            font-size: 20px;
            font-family: @proxima;
            padding: 6px 15px;
            height: auto;
        }
        input[type="submit"] {
            background: #1c2c4c;
            color: white;
            font-family: @proxima;
            text-transform: uppercase;
            border: 0px;
            font-size: 18px;
            height: auto;
            padding: 9px 20px 8px;
        }
    }
}

footer {

    .hr {
        margin: 50px 0 50px 0;
    }
    .twitter {
        img {
            margin-right: 15px;
        }
    }
    a {
        text-decoration: none !important;
    }
    ul {
        list-style-type: none;
    }
}

#coc {
    h3 {
        font-family: @sketch;
        font-size: 32px;
        margin-top: 30px;
    }
}

.cls {
    clear: both;
}
