{% extends 'base.html' %}

{% block content %}
<form action="{% url 'delete-interest' token=object.token %}" method="post">
    <p>
        Are you sure you want to delete <strong>{{ object.email }}</strong> from
        the database? If you do so, you won't receive updates from us about the
        conference.
    </p>
    <p class="submit">
        <button type="submit">Yes, delete it</button>
        <a href="{% url 'update-interest' token=object.token %}">
            No, I've changed my mind
        </a>
        {% csrf_token %}
    </p>
</form>
{% endblock %}
