{% load staticfiles %}

<div class="row">
    <div class="col-md-4 logo">
        <a href="/"><img src="{% static 'img/logo.png' %}" alt="Django Under The Hood" /></a>
    </div>
    <div class="col-md-8">
        <h1>Django: Under The Hood</h1>
        <p>
            <em>Django: Under the Hood</em> is an exciting new Django conference for
            experienced Django developers. Come and learn about the internals of
            Django, and help to shape its future.
        </p>
        <p>
            The conference is being organised by members of the core team in association with the <a href="http://djangovereniging.nl">Dutch Django Association</a>.
            All attendees needs to follow the <a href="{% url 'coc' %}">Code of Conduct</a>.
        </p>
    </div>
</div>
