{% extends '_about.html' %}

{% load staticfiles %}

{% block text %}
<h1>
    <img src="{% static 'img/icons/coc.png' %}" alt="Code of Conduct" />
    Code of Conduct
</h1>
<p>
    <em>Django: Under The Hood</em> aims to be a welcoming event, where people
    meet in a friendly environment. Accordingly, all participants are expected
    to show respect and courtesy to other participants throughout the conference.
</p>
<p>
    To make clear what is expected, all delegates/attendees, speakers,
    exhibitors, organizers and volunteers at any Django: Under The Hood event
    are required to conform to the following Code of Conduct. Organizers will
    enforce this code before and throughout the event.
</p>
{% endblock %}
