{% load staticfiles %}


<div class="row" id="about">
    <div class="col-md-7">
        {% block text %}
        <h1>Django: Under The Hood</h1>
        <p>
            Django: Under the Hood is back for its second edition! Join us for this exciting Django conference for experienced Django developers. Come and learn about the internals of
            Django, and help to shape its future.
        </p>
        <p>
            The conference is being organised by members of the core team in association with the <a href="http://djangovereniging.nl">Dutch Django Association</a>.
            All attendees must follow the <a href="{% url 'coc' %}">Code of Conduct</a>.
        </p>
        {% endblock %}
    </div>

    <div class="col-md-5 dates">
        <h2>When & where?</h2>
        <p>
            The conference will start at 1pm on the 5th of November (Thursday) and end late on the 7th of November. It will take place in Amsterdam, the Netherlands at the Pakhuis de Zwijger.
        </p>
    </div>
</div>
