{% load staticfiles %}


<div class="row" id="about">
    <div class="col-md-7">
        {% block text %}
        <h1 data-emoji-alt="🎸🚗">Django: Under The Hood</h1>
        <p>
            <span data-emoji-alt="🎸🚗">Django: Under the Hood</span> is back for its second edition! Join us for this exciting <span data-emoji-alt="🎸">Django</span> conference for experienced <span data-emoji-alt="🎸">Django</span> developers. Come and learn about the internals of
            <span data-emoji-alt="🎸">Django</span>, and help to shape its future.
        </p>
        <p>
            The conference is being organised by members of the core team in association with the <a href="http://djangovereniging.nl" data-emoji-alt="🌷🎸👬👭">Dutch Django Association</a>.
            All attendees must follow the <a href="{% url 'coc' %}">Code of Conduct</a>.
        </p>
        {% endblock %}
    </div>

    <div class="col-md-5 dates">
        <h2>When & where?</h2>
        <p>
            The conference will start at noon on the 5th of November (Thursday) and end late on the 7th of November. It will take place in <span data-emoji-alt="🌷">Amsterdam, the Netherlands</span> at the Pakhuis de Zwijger.
        </p>
    </div>
</div>
