{% load staticfiles %}

<div class="row">
    <div class="col-md-6">
        <h2><img src="{% static 'img/icons/date.png' %}" alt="When" /> When?</h2>
        <p>It's going to take place on the 14th of November (Friday), with sprints on the 15th (Saturday).</p>
    </div>
    <div class="col-md-6">
        <h2><img src="{% static 'img/icons/place.png' %}" alt="Where" /> Where?</h2>
        <p>The conference will take place in Amsterdam, Netherlands, at Pakhuis de
        Zwijger. (This was also the location for DjangoCon Europe 2011). The sprint
        venue is to be confirmed.</p>
    </div>
</div>
