{% load staticfiles credits %}

<div class="row">
    <div class="col-md-12">
        <img src="{% static 'img/contact-header.png' %}" alt="CONTACT" height="120" />
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        Got a question?<br /> Drop us a line: <a href="mailto:hello@djangounderthehood.com">hello@djangounderthehood.com</a>
    </div>
    <div class="col-md-3">
      <a href="http://twitter.com/DjangoUnderHood">@DjangoUnderHood</a>
    </div>
</div>

<p class="credits row"><span data-emoji-alt="🎸🚗">Django: Under The Hood</span> conference is organized by {% organizers %} with help from the <span data-emoji-alt="🌷🎸👬👭">Dutch Django Association</span>.</p>

<p class="easteregg row text-center">
    <a title="Turn on emoji mode" class="emojimode-toggler emojimode-off">😺</a>
</p>
