{% load staticfiles credits %}

<div class="row">
    <div class="col-md-12">
        <h2><img src="{% static 'img/contact-header.png' %}" alt="CONTACT" /></h2>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
       	<ul>
       		<li><a href="http://blog.djangounderthehood.com">Blog</a></li>
       		<li><a href="http://twitter.com/DjangoUnderHood">Twitter</a></li>
       		<li><a href="{% url 'coc' %}">Code of Conduct</a></li>
       		<li><a href="{% url 'coc' %}#reporting-harrassment">Emergency contact</a></li>
       	</ul>
    </div>
    <div class="col-md-4 twitter">
        <p>
        	Got a question? Drop us a line: <a href="mailto:hello@djangounderthehood.com">hello@djangounderthehood.com</a>
        <p>
            <img src="{% static 'img/icons/twitter.png' %}" alt="Twitter icon" />
           	<a href="http://twitter.com/DjangoUnderHood">
                @DjangoUnderHood
            </a>
        </p>
    </div>
</div>

<p class="credits">Django: Under The Hood conference is organized by {% organizers %} with help from the Dutch Django Association.</p>
