{% load staticfiles %}

<h2>
    <img src="{% static 'img/icons/tickets.png' %}" alt="Tickets" />
    Tickets!
</h2>

<p>The tickets for our event are currently sold out.</p>

<p class="centered"><a href="http://tickets.djangounderthehood.com/" class="btn btn-large">Join the waiting list</a></p>

<p class="small"><b>Refund policy:</b> We can accept ticket cancellations up to two weeks before the event. If you want to cancel after that, we will refund only if we find a new buyer for your ticket. </p>
