{% load staticfiles %}

<h2>
    <img src="{% static 'img/icons/tickets.png' %}" alt="Tickets" />
    Tell me when tickets are available!
</h2>

<form action="//djangounderthehood.us8.list-manage.com/subscribe/post?u=7e08f3e7ba2446210dc2f72fb&amp;id=ec773db38a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>
    <input type="email" value="" name="EMAIL" class="required email form-control" placeholder="Your e-mail" id="mce-EMAIL">

     <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_7e08f3e7ba2446210dc2f72fb_ec773db38a" tabindex="-1" value=""></div>
    <input type="submit" value="Subscribe" class="form-control" />
</form>
