{% load staticfiles %}

{% if not request.path == '/' %}
	<a href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" alt="Django: Under The Hood" class="logo" /></a>
{% endif %}
<ul>
	<li><a href="/#speakers">Speakers</a></li>
	<li><a href="/#schedule">Schedule</a></li>
	<li><a href="/#sponsors">Sponsors</a></li>
	<li><a href="{% url 'attendees' %}">Who's coming?</a></li>
	<li><a href="{% url 'travel' %}">Travel info</a></li>
	<li><a href="{% url 'accessibility' %}">Accessibility</a></li>
	<li><a href="{% url 'travel' %}">Code of conduct</a></li>
	<li><a href="http://blog.djangounderthehood.com">Blog</a></li>
</ul>
