{% load staticfiles %}

<ul>
	{# <li><a href="{% url 'schedule' %}" data-emoji-alt="🕒">Schedule</a></li> #}
	{# <li><a href="{% url 'home' %}#speakers" data-emoji-alt="📢">Speakers</a></li> #}
	<li><a href="{% url 'home' %}#sponsors" data-emoji-alt="💞">Sponsor</a></li>
	<li><a href="{% url 'travel' %}" data-emoji-alt="🚀">Travel</a></li>
  {# <li><a href="{% url 'sprints' %}">Sprints</a></li> #}
	<li><a href="{% url 'accessibility' %}" data-emoji-alt="♿">Accessibility</a></li>
	<li><a href="{% url 'coc' %}">Code of Conduct</a></li>
	<li><a href="http://blog.djangounderthehood.com" data-emoji-alt="📖">Blog</a></li>
</ul>
