{% load staticfiles %}

<div class="row">
    <div class="col-md-6 clearfix">
    	<h2>
            <img src="{% static 'img/icons/learn.png' %}" alt="Learn" /> Fri, 14th Nov 2014
        </h2>
        <p>Venue: <a href="http://www.iamsterdam.com/en-GB/Ndtrc/Pakhuis%20De%20Zwijger">Pakhuis De Zwijger</a></p>
        <div class="timetable">
        	<div class="row break">
        		<div class="col-md-2">9:30</div>
        		<div class="col-md-10">Registration</div>
	        </div>
	        <div class="row">
        		<div class="col-md-2">10:20</div>
        		<div class="col-md-10">Welkom!</div>
	        </div>
	        <div class="row">
        		<div class="col-md-2">10:30</div>
        		<div class="col-md-10">Anssi Kääriäinen - Django ORM</div>
	        </div>
	        <div class="row">
        		<div class="col-md-2">11:30</div>
        		<div class="col-md-10">Andrew Godwin - Django migrations</div>
	        </div>
	        <div class="row break">
        		<div class="col-md-2">12:30</div>
        		<div class="col-md-10">Lunch</div>
	        </div>
	        <div class="row">
        		<div class="col-md-2">13:30</div>
        		<div class="col-md-10">Tom Christie - Django REST Framework</div>
	        </div>
	        <div class="row">
        		<div class="col-md-2">14:30</div>
        		<div class="col-md-10">Jannis Leidel - internationalisation</div>
	        </div>
	        <div class="row break">
        		<div class="col-md-2">15:30</div>
        		<div class="col-md-10">Coffee break</div>
	        </div>
	        <div class="row">
        		<div class="col-md-2">16:00</div>
        		<div class="col-md-10">Daniel Pyrathon - Model._meta</div>
	        </div>
	        <div class="row">
        		<div class="col-md-2">17:00</div>
        		<div class="col-md-10">Armin Ronacher - Python templating</div>
	        </div>
	        <div class="row break">
        		<div class="col-md-2">18:00</div>
        		<div class="col-md-10">Goodbye</div>
	        </div>
	    </div>
    </div>
    <div class="col-md-6 clearfix">
        <h2>
            <img src="{% static 'img/icons/hack.png' %}" alt="Contribute" /> Sat, 15th November 2014
        </h2>
        <p>Venue: <a href="http://travelbird.nl/contact/">Travel Bird Office</a></p>
        <div class="timetable">
        	<div class="row break">
        		<div class="col-md-2">10:00</div>
        		<div class="col-md-10">Welkom!</div>
	        </div>
	        <div class="row">
        		<div class="col-md-2">10:15</div>
        		<div class="col-md-10">Django Sprinting</div>
	        </div>
	        <div class="row break">
        		<div class="col-md-2">13:00</div>
        		<div class="col-md-10">Lunch</div>
	        </div>
	        <div class="row">
        		<div class="col-md-2">14:00</div>
        		<div class="col-md-10">Django Sprinting</div>
	        </div>
	        <div class="row break">
        		<div class="col-md-2">17:30</div>
        		<div class="col-md-10">Goodbye!</div>
	        </div>
	    </div>
	    <p>On the second day you will get a chance to make your open source contribution to Django codebase along 
	    	Django core team or Django-related open source project of your choice. <a href="http://en.wikipedia.org/wiki/Sprint_(software_development)">Learn more about the idea of Sprints</a>.</p>
    </div>
</div>

