{% load staticfiles %}

<div class="row">
    <div class="col-md-6 twitter">
        <h2>
            <img src="{% static 'img/icons/social.png' %}" alt="Follow us" />
            Follow us
        </h2>
        <p>Stay tuned for more news here:</p>
        <p>
            <a href="http://twitter.com/DjangoUnderHood">
                <img src="{% static 'img/icons/twitter.png' %}" alt="Twitter icon" />
                @UnderTheHood
            </a>
        </p>
    </div>
    <div class="col-md-6">
        <h2>
            <img src="{% static 'img/icons/contact.png' %}" alt="Contact us" />
            Contact us
        </h2>
        <p>Got a question? Drop us a line: <a href="mailto:hello@djangounderthehood.com">hello@djangounderthehood.com</a></p>
    </div>
</div>
