{% load staticfiles %}

<div class="row">
    <div class="col-md-12">
        <h2><img src="{% static 'img/speakers-header.png' %}" /></h2>
        <p>
            The schedule is as follows:
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3 clearfix">
        <img src="{% static 'img/speakers/russ.png' %}" class="speaker" alt="Russell Keith-Magee" />
        <h3>
            Russell Keith-Magee
        </h3>
        <p>
            Russell will giving our keynote talk “Django”
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-6 clearfix">
        <img src="{% static 'img/speakers/jacob.png' %}" class="speaker" alt="Jacob Kaplan-Moss" />
        <h3>
            Jacob Kaplan-Moss
        </h3>
        <p>
            Jacob will be speaking about HTTP in Django
        </p>
    </div>
    <div class="col-md-6 clearfix">
        <img src="{% static 'img/speakers/florian.png' %}" class="speaker" alt="Florian Apolloner" />
        <h3>
            Florian Apolloner
        </h3>
        <p>
            Florian will be speaking about Django's security features
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-6 clearfix">
        <img src="{% static 'img/speakers/iacopo.jpg' %}" class="speaker" alt="Iacopo Spalletti" />
        <h3>
            Iacopo Spalletti
        </h3>
        <p>
            Iacopo will be speaking about DjangoCMS and the Django ORM
        </p>
    </div>
    <div class="col-md-6 clearfix">
        <img src="{% static 'img/speakers/josh.png' %}" class="speaker" alt="Josh Smeaton" />
        <h3>
            Josh Smeaton
        </h3>
        <p>
            Josh will be speaking about Expressions
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p><strong>More exciting talks will be announced soon!</strong></p>
    </div>
</div>

