{% load staticfiles %}

<div class="row">
    <div class="col-md-12">
        <h2>
            <img src="{% static 'img/icons/speakers.png' %}" alt="Speakers" />
            Speakers
        </h2>
        <p>
            The provisional schedule is as follows:
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-6 clearfix">
        <img src="{% static 'img/speakers/jannis.jpg' %}" class="speaker" alt="Anssi Kääriäinen" />
        <h3>
            Anssi Kääriäinen
        </h3>
        <p>
            Anssi will be speaking about the Django ORM
        </p>
    </div>
    <div class="col-md-6 clearfix">
        <img src="{% static 'img/speakers/jannis.jpg' %}" class="speaker" alt="Jannis Leidel" />
        <h3>
            Jannis Leidel
        </h3>
        <p>
            Jannis will be speaking about internationalisation in Django
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-6 clearfix">
        <img src="{% static 'img/speakers/jannis.jpg' %}" class="speaker" alt="Andrew Godwin" />
        <h3>
            Andrew Godwin
        </h3>
        <p>
            Andrew will be speaking about the new Django migrations framework
        </p>
    </div>
    <div class="col-md-6 clearfix">
        <img src="{% static 'img/speakers/jannis.jpg' %}" class="speaker" alt="Daniel Pyrathon" />
        <h3>
            Daniel Pyrathon
        </h3>
        <p>
            Daniel will be speaking about Model._meta and his Google Summer of Code work
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-6 clearfix">
        <img src="{% static 'img/speakers/jannis.jpg' %}" class="speaker" alt="Tom Christie" />
        <h3>
            Tom Christie
        </h3>
        <p>
            Tom will be speaking about Django Rest Framework and request processing in Django
        </p>
    </div>
    <div class="col-md-6 clearfix">
        <img src="{% static 'img/speakers/jannis.jpg' %}" class="speaker" alt="Arimn Ronacher" />
        <h3>
            Armin Ronacher
        </h3>
        <p>
            Armir will be speaking about python templating languages
        </p>
    </div>
</div>
