{% load staticfiles %}

<div class="row">
    <div class="col-md-12">
        <h2><img src="{% static 'img/speakers-header.png' %}" /></h2>
        <p>
            The schedule is as follows:
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-6 clearfix">
        <img src="{% static 'img/speakers/jacob.png' %}" class="speaker" alt="Jacob Kaplan-Moss" />
        <h3>
            Jacob Kaplan-Moss
        </h3>
        <p>
            Jacob will be speaking about the HTTP in Django
        </p>
    </div>
    <div class="col-md-6 clearfix">
        <img src="{% static 'img/speakers/florian.png' %}" class="speaker" alt="Florian Apolloner" />
        <h3>
            Florian Apolloner
        </h3>
        <p>
            Florian will be speaking about security
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-6 clearfix">
        <img src="{% static 'img/speakers/josh.png' %}" class="speaker" alt="Josh Smeaton" />
        <h3>
            Josh Smeaton
        </h3>
        <p>
            Josh will be speaking about the Django ORM
        </p>
    </div>

    <div class="col-md-6 clearfix">
        <img src="{% static 'img/speakers/russ.png' %}" class="speaker" alt="Russell Keith-Magee" />
        <h3>
            Russell Keith-Magee
        </h3>
        <p>
            Russell will give a keynote talk at DUTH
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p><strong>There is still more to come!</strong></p>
    </div>
</div>

