{% load staticfiles %}

<h2>
    <img src="{% static 'img/icons/sponsors-negative.png' %}" alt="Supporters" />
    Supporters
</h2>


<h3>Silver sponsors</h3>
<div class="row">
    <div class="col-md-4">
        <a href="http://sherpany.com/" target="_blank"><img src="{% static 'img/sponsors/sherpany.png' %}" /></a>
    </div>
</div>

<h3>Partners</h3>
<div class="row">
	<div class="col-md-4">
		<a href="http://travelbird.nl/" target="_blank"><img src="{% static 'img/sponsors/travelbird.png' %}" /></a>
	</div>
</div>

<p>We are seeking companies who wish to support the event financially. We hope to bring as many of the Django core team to the event as possible to share knowledge and improve the development process. If you are interested in helping, please <a href="mailto:hello@djangounderthehood.com">get in touch</a>.</p>
