{% load staticfiles sponsors %}

<div class="row">
    <div class="col-md-12">
        <h2>
            <img src="{% static 'img/sponsors-header.png' %}" />
        </h2>
    </div>
</div>
<div class="row">
    <div class="col-md-3 heart"> 
        <div class="wrapper">
            <img src="{% static 'img/heart.png' %}" />
        </div>
    </div>

    <div class="col-md-9 description">
        <p>We are seeking companies who wish to support the event financially. Your help will contribute to making the event as affordable as possible for everyone, as well as letting us bring many of the Django team members to the event to share knowledge and improve the Django development process. If you are interested in helping, please <a href="mailto:hello@djangounderthehood.com">get in touch</a>.</p>
    </div>
</div>
