{% load staticfiles %}

<div class="row">
    <div class="col-md-12">
        <img src="{% static 'img/lastyear-header.png' %}" class="header-image" alt="LAST YEAR" />
        <p>
            This is not our first rodeo. Here are just some of the lovely things
            people said about DUTH:
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-6 clearfix">
        <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/hashtag/DUTH?src=hash">#DUTH</a> was awesome! Thanks to everyone that had a part in it. I submitted my first pull request to Django ever :o \o/</p>&mdash; Wouter (@wadevries) <a href="https://twitter.com/wadevries/status/533629852579291136">November 15, 2014</a></blockquote>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="col-md-6 clearfix">
      <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Positively overwhelmed with all the <a href="https://twitter.com/DjangoUnderHood">@DjangoUnderHood</a> love. Hugs all around 💕 <a href="https://twitter.com/hashtag/duth?src=hash">#duth</a></p>&mdash; Ola Sitarska (@olasitarska) <a href="https://twitter.com/olasitarska/status/663306736401588228">November 8, 2015</a></blockquote>
      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>
<div class="row">
    <div class="col-md-6 clearfix">
      <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Thank you <a href="https://twitter.com/DjangoUnderHood">@DjangoUnderHood</a> team for the wonderful conference and my first trip to Europe.</p>&mdash; Jeff Triplett (@webology) <a href="https://twitter.com/webology/status/663685470254194688">November 9, 2015</a></blockquote>
      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

    <div class="col-md-6 clearfix">
      <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Thanks <a href="https://twitter.com/DjangoUnderHood">@DjangoUnderHood</a>, it&#39;s pretty special to volunteer at a tech event as a non-tech person simply because its community is so awesome!</p>&mdash; Merel Ivens (@SidelineNoob) <a href="https://twitter.com/SidelineNoob/status/663374515024633857">November 8, 2015</a></blockquote>
      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>
<div class="row">
    <div class="col-md-6 clearfix">
        <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Easily the best conference I&#39;ve attended all year. Amazingly deep, interesting and technical talks. Great job <a href="https://twitter.com/DjangoUnderHood">@DjangoUnderHood</a> <a href="https://twitter.com/hashtag/duth?src=hash">#duth</a></p>&mdash; Paul (@phalt_) <a href="https://twitter.com/phalt_/status/533348682968879104">November 14, 2014</a></blockquote>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

    <div class="col-md-6 clearfix">
        <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/hashtag/DUTH?src=hash">#DUTH</a> was the best Django conference thus far. 100% keynotes, 100% great. It was an honor to sponsor it. Until the next time!</p>&mdash; Mirumee Labs (@mirumeelabs) <a href="https://twitter.com/mirumeelabs/status/533728264209317889">November 15, 2014</a></blockquote>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>
