{% load staticfiles %}

<div class="row">
    <div class="col-md-12">
        <h2><img src="{% static 'img/lastyear-header.png' %}" /></h2>
        <p>
            The first edition of Django Under The Hood happened last year. 
            This is what people said:
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-6 clearfix">
        <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/hashtag/DUTH?src=hash">#DUTH</a> was awesome! Thanks to everyone that had a part in it. I submitted my first pull request to Django ever :o \o/</p>&mdash; Wouter (@wadevries) <a href="https://twitter.com/wadevries/status/533629852579291136">November 15, 2014</a></blockquote>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="col-md-6 clearfix">
        <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Essentially the best Django conference I&#39;ve attended. <a href="https://twitter.com/hashtag/duth?src=hash">#duth</a> <a href="http://t.co/tohnPCLlfT">http://t.co/tohnPCLlfT</a></p>&mdash; Ania Warzecha (@aniawarzecha) <a href="https://twitter.com/aniawarzecha/status/533298110949490688">November 14, 2014</a></blockquote>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>
<div class="row">
    <div class="col-md-6 clearfix">
        <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">On my way back home after an amazing first <a href="https://twitter.com/DjangoUnderHood">@DjangoUnderHood</a> conference. We should do more of those! Thank you all :) <a href="https://twitter.com/hashtag/duth?src=hash">#duth</a> <a href="https://twitter.com/hashtag/django?src=hash">#django</a></p>&mdash; j. ezdez (@jezdez) <a href="https://twitter.com/jezdez/status/533697754787479552">November 15, 2014</a></blockquote>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

    <div class="col-md-6 clearfix">
        <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Thank you <a href="https://twitter.com/DjangoUnderHood">@DjangoUnderHood</a> an amazing experience learning from the django core team. Lots of work ahead <a href="https://twitter.com/hashtag/duth?src=hash">#duth</a></p>&mdash; Burhan Khalid (@burhan) <a href="https://twitter.com/burhan/status/533661512783917056">November 15, 2014</a></blockquote>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>
<div class="row">
    <div class="col-md-6 clearfix">
        <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Easily the best conference I&#39;ve attended all year. Amazingly deep, interesting and technical talks. Great job <a href="https://twitter.com/DjangoUnderHood">@DjangoUnderHood</a> <a href="https://twitter.com/hashtag/duth?src=hash">#duth</a></p>&mdash; Paul (@phalt_) <a href="https://twitter.com/phalt_/status/533348682968879104">November 14, 2014</a></blockquote>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

    <div class="col-md-6 clearfix">
        <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/hashtag/DUTH?src=hash">#DUTH</a> was the best Django conference thus far. 100% keynotes, 100% great. It was an honor to sponsor it. Until the next time!</p>&mdash; Mirumee Labs (@mirumeelabs) <a href="https://twitter.com/mirumeelabs/status/533728264209317889">November 15, 2014</a></blockquote>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>

