<p>
    The provisional schedule is as follows:
    <ul>
        <li><strong>Anssi Kääriäinen</strong> speaking on the Django ORM</li>
        <li><strong>Jannis Leidel</strong> speaking on internationalisation</li>
        <li><strong>Andrew Godwin</strong> speaking on the new Django migrations</li>
        <li><strong>Daniel Pyrathon</strong> speaking on <code>Model._meta</code> and his Google Summer of Code work</li>
        <li><strong>Tom Christie</strong> speaking on Django Rest Framework and request/response processing in Django</li>
        <li><strong>Armin Ronacher</strong> speaking on the python templating languages</li>
    </ul>
</p>
