{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<section id="accessibility">
    <h2>
        <img src="{% static 'img/icons/accessibility.png' %}" alt="Accessibility statement" />
        Accessibility statement
    </h2>

    <h3>Conference venue</h3>
    <p>
        The conference venue, Pakhuis de Zwijger, has complete step free access.
        All doorways are wide enough to accommodate wheelchairs and
        an elevator is present to reach all floors.
        An accessible toilet is available, but please contact us in advance if you may need this,
        so that the venue can make arrangements.
    </p>
    <p>
        You can reach the conference venue with a tram and bus that stop directly in front of the
        building. Almost all trams and buses in Amsterdam have a low step entry and are suitable for
        wheelchairs without requiring advance notification. Advance notification is required
        if you are travelling with a wheelchair on a train. Some of the trains have low step entry.
    </p>
    <p>
        No special facilities are available for attendees with visual or auditory impairments.
        If you have special requests for this, or any other area, please get in touch with us
        and we'll see what we can do.
    </p>

    <h3>Sprint venue</h3>
    <p>
        We are still working on confirming accessibility at the sprint venue.
    </p>

</section>

{% endblock %}
