{% extends 'base.html' %}
{% load staticfiles %}

{% block body %}

<div class="container row all-editions">
    <div class="col-md-4">
        <a href="http://2014.djangounderthehood.com/">
            <img src="{% static 'img/logo-2014.png' %}" alt="Django: Under the Hood 2014" />
        </a>
        Django: Under the Hood 2014
        <ul>
            <li>
                <a href="http://2014.djangounderthehood.com/">Old website</a>
            </li>
            <li>
                <a href="http://2014.djangounderthehood.com/talks/">Talk videos</a>
            </li>
        </ul>
    </div>
    <div class="col-md-4">
        <a href="http://2015.djangounderthehood.com/">
            <img src="{% static 'img/logo-2015.png' %}" alt="Django: Under the Hood 2015" />
        </a>
        Django: Under the Hood 2015
        <ul>
            <li>
                <a href="http://2015.djangounderthehood.com/">Old website</a>
            </li>
            <li>
                <a href="https://opbeat.com/community/events/django-under-the-hood-2015/">Talk videos</a>
            </li>
            <li>
                <a href="https://www.flickr.com/photos/137962885@N08/albums">Photos</a>
            </li>
        </ul>
    </div>
    <div class="col-md-4">
        <a href="http://2016.djangounderthehood.com/">
            <img src="{% static 'img/logo-2016.png' %}" alt="Django: Under the Hood 2016" />
        </a>
        Django: Under the Hood 2016
        <ul>
            <li>
                <a href="http://2016.djangounderthehood.com/">Old website</a>
            </li>
            <li>
                <a href="http://2016.djangounderthehood.com/talks/">Talk videos</a>
            </li>
            <li>
                <a href="https://500px.com/djangounderthehood/galleries">Photos</a>
            </li>
        </ul>
    </div>
</div>

{% endblock %}