{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<section id="about">
    {% include '_about.html' %}
</section>

<section id="dates">
    {% include '_dates.html' %}
</section>

<section id="speakers">
    {% include '_speakers.html' %}
</section>

<section id="schedule">
    {% include '_schedule.html' %}
</section>

<section id="tickets">
    {% include '_interest.html' %}
</section>

</div>
<section id="sponsors" class="white-background">
    <div class="container">
        {% include '_sponsors.html' %}
    </div>
</section>
<div class="container">

{% endblock %}
