{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<nav>
    {% include '_nav.html' %}
    <div class="cls"></div>
</nav>

<section id="about">
    {% include '_about.html' %}
</section>

<section id="dates">
    {% include '_dates.html' %}
</section>

<section id="speakers">
    {% include '_speakers.html' %}
</section>

<section id="schedule">
    {% include '_schedule.html' %}
</section>

<section id="interest">
    {% include '_interest.html' %}
</section>

<section id="sponsors">
    <h2>
        <img src="{% static 'img/icons/sponsors.png' %}" alt="Sponsorship" />
        Sponsorship
    </h2>
    <p>We are seeking companies who wish to support the event financially. We hope to bring as many of the Django core team to the event as possible to share knowledge and improve the development process. If you are interested in helping, please <a href="mailto:hello@djangounderthehood.com">get in touch</a>.</p>
</section>

<footer> 
    {% include '_footer.html' %}
</footer>

{% endblock %}
