{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<nav>
    {% include '_nav.html' %}
    <div class="cls"></div>
</nav>

<section id="about">
    {% include '_about.html' %}
</section>

<section id="dates">
    {% include '_dates.html' %}
</section>

<section id="speakers">
    {% include '_speakers.html' %}
</section>

<section id="schedule">
    {% include '_schedule.html' %}
</section>

<section id="tickets">
    {% include '_interest.html' %}
</section>

<section id="sponsors">
    {% include '_sponsors.html' %}
</section>

<footer> 
    {% include '_footer.html' %}
</footer>

{% endblock %}
