{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<section id="schedule" class="row">
    <img src="{% static 'img/schedule-header.png' %}" class="header-image" alt="Schedule" />
    <div class="col-md-6 day">
        <div class="header">
          <h3>3rd Nov, Thursday</h3>
          <p>Venue: <a href="https://goo.gl/maps/mPzHznrZ6nk" target="_blank">Pakhuis De Zwijger</a></p>
        </div>
        <div class="sessions">
          <div class="spacer-150min"></div>
          <div class="session break session-90min">
            <div class="datetime">12:00</div>
            <div class="session-details">
              <p><b>Registration</b></p>
            </div>
            <div class="cls"></div>
          </div>
          <div class="session session-15min">
            <div class="datetime">13:30</div>
            <div class="session-details">
              <p><b>Hallo & Welcome!</b></p>
            </div>
            <div class="cls"></div>
          </div>
          <div class="session">
            <div class="datetime">13:45</div>
            <div class="session-details">
              <p><b>Channels</b></p>
              <p class="speaker">Andrew Godwin</p>
            </div>
            <div class="cls"></div>
          </div>
          <div class="session break">
            <div class="datetime">14:45</div>
            <div class="session-details">
              <p><b>Break</b></p>
            </div>
            <div class="cls"></div>
          </div>
          <div class="session">
            <div class="datetime">15:15</div>
            <div class="session-details">
              <p><b>Testing</b></p>
              <p class="speaker">Ana Balica</p>
            </div>
            <div class="cls"></div>
          </div>
          <div class="session">
            <div class="datetime">16:15</div>
            <div class="session-details">
              <p><b>Debugging</b></p>
              <p class="speaker">Aymeric Augustin</p>
            </div>
            <div class="cls"></div>
          </div>
          <div class="session break session-15min">
            <div class="datetime">17:15</div>
            <div class="session-details">
              <p><b>End of first day</b></p>
            </div>
            <div class="cls"></div>
          </div>
        </div>
    </div>
    <div class="col-md-6 day">
        <div class="header">
          <h3>4th Nov, Friday</h3>
          <p>Venue: <a href="https://goo.gl/maps/mPzHznrZ6nk" target="_blank">Pakhuis De Zwijger</a></p>
        </div>
        <div class="sessions">
          <div class="session break session-45min">
            <div class="datetime">9:30</div>
            <div class="session-details">
              <p><b>Doors open</b></p>
            </div>
            <div class="cls"></div>
          </div>
          <div class="session session-15min">
            <div class="datetime">10:15</div>
            <div class="session-details">
              <p><b>Goedemorgen!</b></p>
            </div>
            <div class="cls"></div>
          </div>
          <div class="session">
            <div class="datetime">10:30</div>
            <div class="session-details">
              <p><b>Keynote</b></p>
              <p class="speaker">Jennifer Akullian</p>
            </div>
            <div class="cls"></div>
          </div>
          <div class="session">
            <div class="datetime">11:00</div>
            <div class="session-details">
              <p><b>Validation</b></p>
              <p class="speaker">Loïc Bistuer</p>
            </div>
            <div class="cls"></div>
          </div>
          <div class="session break">
            <div class="datetime">12:00</div>
            <div class="session-details">
              <p><b>Yummy lunch break!</b></p>
            </div>
            <div class="cls"></div>
          </div>
          <div class="session">
            <div class="datetime">13:00</div>
            <div class="session-details">
              <p><b>JavaScript</b></p>
              <p class="speaker">Idan Gazit</p>
            </div>
            <div class="cls"></div>
          </div>
          <div class="session">
            <div class="datetime">14:00</div>
            <div class="session-details">
              <p><b>Database backends</b></p>
              <p class="speaker">Michael Manfre</p>
            </div>
            <div class="cls"></div>
          </div>
          <div class="session break">
            <div class="datetime">15:00</div>
            <div class="session-details">
              <p><b>Coffee break</b></p>
            </div>
            <div class="cls"></div>
          </div>
          <div class="session">
            <div class="datetime">15:30</div>
            <div class="session-details">
              <p><b>OSS Funding</b></p>
              <p class="speaker">Nadia Eghbal</p>
            </div>
            <div class="cls"></div>
          </div>
          <div class="session">
            <div class="datetime">16:30</div>
            <div class="session-details">
              <p><b>Django @ Instagram</b></p>
              <p class="speaker">Carl Meyer</p>
            </div>
            <div class="cls"></div>
          </div>
          <div class="session">
            <div class="datetime">17:30</div>
            <div class="session-details">
              <p><b>Intro to sprints</b></p>
            </div>
            <div class="cls"></div>
          </div>
          <div class="session break session-15min">
            <div class="datetime">18:00</div>
            <div class="session-details">
              <p><b>End of second day</b></p>
            </div>
            <div class="cls"></div>
          </div>
          <div class="session">
            <div class="datetime">20:30</div>
            <div class="session-details">
              <p><a href="/blog/article/2016-10-03-evening-social/" target="_blank">Evening social</a> sponsored by <a href="https://sentry.io/" target="_blank">Sentry</a>! 🍹🎉</p>
            </div>
            <div class="cls"></div>
          </div>
          <div class="session break session-15min">
            <div class="datetime">01:00</div>
            <div class="session-details">
              <p><b>End of the party</b></p>
            </div>
            <div class="cls"></div>
          </div>
        </div>
    </div>
    
    <div class="col-md-6 day">
        <div class="header">
          <h3>5th Nov, Saturday</h3>
          <p>Venue: <a href="http://amsterdam.impacthub.net/contact/" target="_blank">Impact Hub</a></p>
        </div>
        <div class="sessions">
          <div class="session break session-45min">
            <div class="datetime">9:30</div>
            <div class="session-details">
              <p><b>Doors open</b></p>
            </div>
            <div class="cls"></div>
          </div>
          <div class="session sprint-1">
            <div class="datetime">10:00</div>
            <div class="session-details">
              <p><b>Sprinting!</b></p>
            </div>
            <div class="cls"></div>
          </div>
          <div class="session break">
            <div class="datetime">13:00</div>
            <div class="session-details">
              <p><b>Yummy lunch break!</b></p>
            </div>
            <div class="cls"></div>
          </div>
          <div class="session sprint-2 right-border">
            <div class="datetime">14:00</div>
            <div class="session-details">
              <p><b>Sprinting!</b></p>
            </div>
            <div class="cls"></div>
          </div>
          <div class="session break session-15min">
            <div class="datetime">18:00</div>
            <div class="session-details">
              <p><b>End of third day</b></p>
            </div>
            <div class="cls"></div>
          </div>
        </div>
    </div>
    
    <div class="col-md-6 day">
        <div class="header">
          <h3>6th Nov, Sunday</h3>
          <p>Venue: <a href="http://amsterdam.impacthub.net/contact/" target="_blank">Impact Hub</a></p>
        </div>
        <div class="sessions">
          <div class="session break session-45min">
            <div class="datetime">9:30</div>
            <div class="session-details">
              <p><b>Doors open</b></p>
            </div>
            <div class="cls"></div>
          </div>
          <div class="session sprint-1">
            <div class="datetime">10:00</div>
            <div class="session-details">
              <p><b>Sprinting!</b></p>
            </div>
            <div class="cls"></div>
          </div>
          <div class="session break session-15min">
            <div class="datetime">14:00</div>
            <div class="session-details">
              <p><b>End of last day</b></p>
            </div>
            <div class="cls"></div>
          </div>
        </div>
    </div>

</section>
{% endblock %}
