{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<section id="scholarship" class="row">
    <img src="{% static 'img/scholarship-header.png' %}" class="header-image" alt="Scholarship" />

    <p>
        Django: Under The Hood is striving to provide a great experience for the most diverse group of people possible. We do believe in equality, and we invite everyone to participate. In order to make this possible, we are proud to announce our <strong>scholarship programme</strong> for people who would otherwise be unable to participate.
    </p>
    <p>
        Our scholarship fund will support about twenty people to attend Django: Under The Hood. Scholarships are fully sponsored (i.e. free) tickets that are awarded after an application process. Travel expenses and accommodation, if required, will also be awarded.
    </p>
    <p>
        Anyone from an underrepresented group in tech is invited to apply for this scholarship. This includes, but is not limited to: women, people of colour, LGBTQIA+ people, people with disabilities, and people facing economic or social hardships.
    </p>
    <p>
        The application process is simple: Tell us about what you do with Python or Django, and why you want to attend Django: Under The Hood.
    </p>

    <p>
        <b>Scholarships are made possible by our <a href="{% url 'home' %}#sponsors">generous sponsors</a>. We are proud to have these sponsors showing their support for our community. Thank you!</b>
    </p>

    <h3 id="important-dates">Important dates</h3>
    <ul>
        <li>9th of June: Call for submissions opens (a form will be linked on this page).</li>
        <li>23rd of June: Applications for the scholarship programme must be submitted in full.</li>
        <li>1st of July: Award recipients will be notified by email of their acceptance.</li>
    </ul>

    <p>Thank you <a href="http://2015.jsconf.eu/">JSConf EU</a> for providing a great example of the process we're adopting.</p>
</section>

{% endblock %}
