{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<section id="scholarship" class="row">
    <img src="{% static 'img/scholarship-header.png' %}" class="header-image" alt="Scholarship" />

    <p>
        Django: Under The Hood is striving to provide a great experience for the most diverse group of people possible. We do believe in equality, and we invite everyone to participate. In order to make this possible, we are proud to announce our <strong>scholarship programme</strong> for people who would otherwise be unable to participate.
    </p>
    <p>
        Our scholarship fund will support about twenty people to attend Django: Under The Hood. Scholarships are fully sponsored (i.e. free) tickets that are awarded after an application process. Travel expenses and accommodation, if required, will also be awarded.
    </p>
    <p>
        Anyone from an underrepresented group in tech is invited to apply for this scholarship. This includes, but is not limited to:
    </p>
    <ul>
        <li>women and other gender minorities of all expressions and identities; e.g. trans, agender and non-binary</li>
        <li>people of color, including Indigenous/Native people</li>
        <li>sexuality minorities, including asexual people</li>
        <li>people with disabilities, both visible and invisible</li>
        <li>neurodiverse people</li>
        <li>people with chronic illnesses or diseases</li>
        <li>religious and ethnic minorities</li>
        <li>people who don't speak English as a first language</li>
        <li>undocumented people (US), naturalized people, and refugees</li>
        <li>age minorities (under 21, over 50)</li>
        <li>working class people and people experiencing poverty</li>
        <li>homeless and home/food insecure people</li>
        <li>caregivers of children or other dependents</li>
        <li>people who have experienced trauma and its aftermath (PTSD, anxiety, etc)</li>
        <li>people living with or recovering from substance abuse</li>
    </ul>
    <p>
        The application process is simple: Tell us about what you do with Python or Django, and why you want to attend Django: Under The Hood.
    </p>

    <p class="centered-margin">
        <a class="btn btn-primary active" href="https://docs.google.com/forms/d/1_OgV6xgTVmrNBrvnPYXcuUgPN0m8mdEwsNkAV818bx4/viewform">Apply now for a Django: Under The Hood Scholarship</a>
    </p>

    <p>Applications are due 23rd June, by the end of the day CEST (Amsterdam time).</p>

    <p>
        <b>Scholarships are made possible by our <a href="{% url 'home' %}#sponsors">generous sponsors</a>. We are proud to have these sponsors showing their support for our community. Thank you!</b>
    </p>

    <h3 id="important-dates">Important dates</h3>
    <ul>
        <li>9th of June: Call for submissions opens (a form will be linked on this page).</li>
        <li>23rd of June: Applications for the scholarship programme must be submitted in full.</li>
        <li>1st of July: Award recipients will be notified by email of their acceptance.</li>
    </ul>

    <p>Thank you <a href="http://2015.jsconf.eu/">JSConf EU</a> for providing a great example of the process we're adopting, and to <a href="http://www.alterconf.com/">AlterConf</a> for further inspiration.</p>
</section>

{% endblock %}
