{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<section id="coc" class="row">
    <h1>
        Scholarships for Django: Under The Hood!
    </h1>
    <p>
    	Django: Under The Hood is striving to provide a great experience for the most diverse group of people possible. We do believe in equality, and we invite everyone to participate. In order to make this possible, we are proud to announce our scholarship programme for people who would otherwise be unable to participate.
    </p>
    <p>
        Our scholarship fund will support about twenty people to attend Django: Under The Hood. Scholarships are fully sponsored (i.e. free) tickets that are awarded after an application process. Travel expenses and accommodation, if required, will also be awarded.
    </p>
    <p>
    	Anyone from an underrepresented group in tech is invited to apply for this scholarship. This includes, but is not limited to: women, people of colour, LGBTQIA+ people, disabled people, and people facing economic or social hardships.
    </p>
    <p>
    	The application process is simple: Tell us about what you do with Python or Django, and why you want to attend Django: Under The Hood.
    </p>

    <p>
    	<b>Scholarships are made possible by our <a href="/#sponsors">generous sponsors</a>. We are very proud to be part of this community for showing their support. Thank you!</b>
    </p>

    <p style="text-align: center; margin: 30px 0">
		<a class="btn" href="http://goo.gl/forms/9Ct9jQCwDf">Apply now for the Django: Under The Hood Scholarship</a>
    </p>

    <p>Applications are due 21st August, by the end of the day CEST (Amsterdam time).</p>

    <p>Thank you <a href="http://2015.jsconf.eu/">JSConf EU</a> for providing a great example of the proccess we're adopting.</p>
</section>

{% endblock %}
