{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<section id="talks">
    <div class="row">
        <div class="col-md-12">
            <div class="speaker__photo" style="background-image: url({% static 'img/speakers/andrew.jpg' %}), radial-gradient(farthest-corner at 1em 1em, rgba(249, 191, 59, .7), rgba(52, 152, 219, .8))"></div>
            <h3>Andrew Godwin</h3>
            <h4>Channels</h4>
        </div>

        <div class="col-md-7">
            <div><script async class="speakerdeck-embed" data-id="05abe8705cab4e2cad64ed6842ab027a" data-ratio="1.33333333333333" src="//speakerdeck.com/assets/embed.js"></script></div>
        </div>

        <div class="col-md-5">
            Video recording coming up in few weeks.
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="speaker__photo" style="background-image: url({% static 'img/speakers/ana.jpeg' %}), radial-gradient(farthest-corner at 1em 1em, rgba(249, 191, 59, .7), rgba(52, 152, 219, .8))"></div>
            <h3>Ana Balica</h3>
            <h4>Testing</h4>
        </div>

        <div class="col-md-7">
            <div><script async class="speakerdeck-embed" data-id="6f5fa6b016a6467aa5c01c8294428af9" data-ratio="1.33333333333333" src="//speakerdeck.com/assets/embed.js"></script></div>
        </div>

        <div class="col-md-5">
            Video recording coming up in few weeks.
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="speaker__photo" style="background-image: url({% static 'img/speakers/aymeric.jpeg' %}), radial-gradient(farthest-corner at 1em 1em, rgba(249, 191, 59, .7), rgba(52, 152, 219, .8))"></div>
            <h3>Aymeric Augustin</h3>
            <h4>Debugging Performance</h4>
        </div>

        <div class="col-md-7">
            <div><script async class="speakerdeck-embed" data-id="55514dcdbb1d4ab3b38ac7a3ae6d1f3a" data-ratio="1.33333333333333" src="//speakerdeck.com/assets/embed.js"></script></div>
        </div>

        <div class="col-md-5">
            Video recording coming up in few weeks.
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="speaker__photo" style="background-image: url({% static 'img/speakers/jen.png' %}), radial-gradient(farthest-corner at 1em 1em, rgba(249, 191, 59, .7), rgba(52, 152, 219, .8))"></div>
            <h3>Jennifer Akullian</h3>
            <h4>Keynote: Mental Health</h4>
        </div>

        <div class="col-md-7">
            <div><script async class="speakerdeck-embed" data-id="62c82ee1b5fb45589763054a465660b0" data-ratio="1.33333333333333" src="//speakerdeck.com/assets/embed.js"></script></div>
        </div>

        <div class="col-md-5">
            Video recording coming up in few weeks.
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="speaker__photo" style="background-image: url({% static 'img/speakers/loic.jpg' %}), radial-gradient(farthest-corner at 1em 1em, rgba(249, 191, 59, .7), rgba(52, 152, 219, .8))"></div>
            <h3>Loïc Bistuer</h3>
            <h4>Validation</h4>
        </div>

        <div class="col-md-7">
            <div><script async class="speakerdeck-embed" data-id="85344cc245234828a5d1cc72656ba28e" data-ratio="1.33333333333333" src="//speakerdeck.com/assets/embed.js"></script></div>
        </div>

        <div class="col-md-5">
            Video recording coming up in few weeks.
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="speaker__photo" style="background-image: url({% static 'img/speakers/idan.jpg' %}), radial-gradient(farthest-corner at 1em 1em, rgba(249, 191, 59, .7), rgba(52, 152, 219, .8))"></div>
            <h3>Idan Gazit</h3>
            <h4>JavaScript</h4>
        </div>

        <div class="col-md-7">
            <div><script async class="speakerdeck-embed" data-id="eaecbb8bb75a45d89aaa2cf70116f482" data-ratio="1.33333333333333" src="//speakerdeck.com/assets/embed.js"></script></div>
        </div>

        <div class="col-md-5">
            Video recording coming up in few weeks.
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="speaker__photo" style="background-image: url({% static 'img/speakers/michael.jpg' %}), radial-gradient(farthest-corner at 1em 1em, rgba(249, 191, 59, .7), rgba(52, 152, 219, .8))"></div>
            <h3>Michael Manfre</h3>
            <h4>Custom Database Backends</h4>
        </div>

        <div class="col-md-7">
            <div><script async class="speakerdeck-embed" data-id="327c0d95c7c64fd790a370247c899641" data-ratio="1.33333333333333" src="//speakerdeck.com/assets/embed.js"></script></div>
        </div>

        <div class="col-md-5">
            Video recording coming up in few weeks.
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="speaker__photo" style="background-image: url({% static 'img/speakers/nadia.jpg' %}), radial-gradient(farthest-corner at 1em 1em, rgba(249, 191, 59, .7), rgba(52, 152, 219, .8))"></div>
            <h3>Nadia Eghbal</h3>
            <h4>OSS Funding</h4>
        </div>

        <div class="col-md-7">
            <iframe src="//www.slideshare.net/slideshow/embed_code/key/NDdi4zr5Q3o8Gm" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
        </div>

        <div class="col-md-5">
            Video recording coming up in few weeks.
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="speaker__photo" style="background-image: url({% static 'img/speakers/carl.jpg' %}), radial-gradient(farthest-corner at 1em 1em, rgba(249, 191, 59, .7), rgba(52, 152, 219, .8))"></div>
            <h3>Carl Meyer</h3>
            <h4>Django @ Instagram</h4>
        </div>

        <div class="col-md-7">
            <div><script async class="speakerdeck-embed" data-id="26e320040e9342b0a911d04c95b26895" data-ratio="1.33333333333333" src="//speakerdeck.com/assets/embed.js"></script></div>
        </div>

        <div class="col-md-5">
            Video recording coming up in few weeks.
        </div>
    </div>
</section>
{% endblock %}
