{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<section id="coc" class="row">
    <div class="col-md-12">
        <h2>
            <img src="{% static 'img/icons/speakers.png' %}" alt="Talks" />
            Talks at Django: Under The Hood 2014
        </h2>
    </div>
    <div class="cls"></div>

    <div id="talks">
        <div class="row">
            <div class="col-md-12">
                <a name="andrew">
                    <img src="{% static 'img/speakers/andrew.jpg' %}" class="speaker" alt="Andrew Godwin" />
                </a>
                <h3>Andrew Godwin</h3>
                <h4>Migrations Under The Hood</h4>
            </div>

            <div class="col-md-5">
                <script async class="speakerdeck-embed" data-id="f85a98204e1f01327dcc46daf8584bb8" data-ratio="1.33333333333333" src="//speakerdeck.com/assets/embed.js"></script>
            </div>

            <div class="col-md-7">
                <iframe width="100%" height="412" src="//www.youtube.com/embed/-4jhPRfCRSM" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <a name="armin">
                    <img src="{% static 'img/speakers/armin.jpg' %}" class="speaker" alt="Armin Ronacher" />
                </a>
                <h3>Armin Ronacher</h3>
                <h4>Let's Talk About Templates</h4>
            </div>

            <div class="col-md-5">
                <script async class="speakerdeck-embed" data-id="352fc9404edd0132348e6661b83ad9a0" data-ratio="1.77777777777778" src="//speakerdeck.com/assets/embed.js"></script>
            </div>

            <div class="col-md-7">
                <iframe width="100%" height="412" src="//www.youtube.com/embed/rHmljD-oZrY" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <a name="jannis">
                    <img src="{% static 'img/speakers/jannis.jpg' %}" class="speaker" alt="Jannis Leidel" />
                </a>
                <h3>Jannis Leidel</h3>
                <h4>Django internationalisation</h4>
            </div>

            <div class="col-md-5">
                <iframe src="//www.slideshare.net/slideshow/embed_code/41562113" width="595" height="412" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
            </div>

            <div class="col-md-7">
                <iframe width="100%" height="412" src="//www.youtube.com/embed/Wa0VfS2q94Y" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <a name="tom">
                    <img src="{% static 'img/speakers/tom.jpg' %}" class="speaker" alt="Tom Christie" />
                </a>
                <h3>Tom Christie</h3>
                <h4>REST framework: Under The Hood</h4>
            </div>

            <div class="col-md-5">
                <script async class="speakerdeck-embed" data-id="16c5b6704edd01320da372c75fc688f9" data-ratio="1.2994923857868" src="//speakerdeck.com/assets/embed.js"></script>
            </div>

            <div class="col-md-7">
                <iframe width="100%" height="420" src="//www.youtube.com/embed/3cSsbe-tA0E" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <a name="daniel">
                    <img src="{% static 'img/speakers/daniel.jpg' %}" class="speaker" alt="Daniel Pyrathon" />
                </a>
                <h3>Daniel Pyrathon</h3>
                <h4>The Meta API</h4>
            </div>

            <div class="col-md-5">
                <script async class="speakerdeck-embed" data-id="808675604ee001320da372c75fc688f9" data-ratio="1.77777777777778" src="//speakerdeck.com/assets/embed.js"></script>
            </div>

            <div class="col-md-7">
                <iframe width="100%" height="412" src="//www.youtube.com/embed/-1tt0S__kQk" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <a name="anssi">
                    <img src="{% static 'img/speakers/anssi.jpg' %}" class="speaker" alt="Anssi Kääriäinen" />
                </a>
                <h3>Anssi Kääriäinen</h3>
                <h4>QuerySet.filter() demystified</h4>
            </div>

            <div class="col-md-5">
                <script async class="speakerdeck-embed" data-id="7e3275104ef301320da372c75fc688f9" data-ratio="1.29456384323641" src="//speakerdeck.com/assets/embed.js"></script>
            </div>

            <div class="col-md-7">
                <iframe width="100%" height="412" src="//www.youtube.com/embed/CGF-0csOjPw" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>

{% endblock %}
