{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<section id="coc" class="row">
    <img src="{% static 'img/travel-header.png' %}" class="header-image" alt="Travel information" />
    <p>
        <em>Django: Under The Hood</em> will take place in the center of
        Amsterdam, The Netherlands.
    </p>

    <h3>Getting to Amsterdam</h3>
    <p>
        Amsterdam Schiphol Airport (AMS) is very close to Amsterdam itself, and many direct flights
        are available. From the airport, you can take a train to Amsterdam Centraal which departs at least
        three times per hour and should take about 15 minutes. A single use ticket costs € 5.
        Note that Amsterdam Centraal is often not
        the first stop of the train, so make sure you get out at the right station. Always buy a ticket
        before boarding the train.
    </p>
    <p>
        Amsterdam also has good international rail connections to Belgium, France and Germany. Some
        sleeper trains are available to other destinations.
    </p>

    <h3>Getting around</h3>
    <p>
        For an overview of locations and transit, see
        <a href="https://www.google.com/maps/d/u/0/viewer?mid=zYunI9jWzcDU.kakNMxW5kTk0">our overview map</a>.
    </p>
    <iframe src="https://www.google.com/maps/d/embed?mid=zYunI9jWzcDU.kakNMxW5kTk0" width="100%" height="600"></iframe>
    <p>
        The conference venue is Pakhuis de Zwijger, on Piet Heijnkade 179. The sprints are at TravelBird on
        Keizersgracht 281. The party boat will dock behind Central Station, just slightly left of the GVB boats going
        to NDSM-werf and Buiksloterweg.
    </p>

    <p>
        Walking is always an option in Amsterdam, but the conference venue is about 25 minutes walking from
        the train station and your hotel is probably even a bit further away.
        You might prefer to take a tram. You can also rent a bike: bike rental is available
        from many different shops in the city center.
    </p>
    <p>
        Amsterdam has an extensive public transit network, mostly consisting of trams. There are also buses and
        a small metro network. Most are run by GVB, see their
        <a href="http://www.gvb.nl/ovinmamsterdam/tourist/Pages/Tourist-guide-English.aspx">tourist guide</a> for more
        information.
    </p>
    <p>
        All public transit in the Netherlands uses the <em>OV-chipkaart</em>. For both GVB and trains you
        can buy single use paper tickets (with a chip inside, don't fold) at ticket offices, some shops and from the
        driver, but it may be cheaper to buy
        a normal prepaid OV-chipcard. These cost € 7,50, and you will have to top it up: you'll need at
        least € 4 credit to travel with GVB. All this is a lot more hassle, but will make your trips cheaper
        than buying a single use card every time. Whether the € 7,50 is worth it, depends on how much you
        intend to travel.
        In ticket shops, you can also buy 24- or 48-hour cards.
    </p>
    <p>
        A few other notes:
    </p>
    <ul>
        <li>
            If you buy a ticket on a bus or tram, you can only pay cash in not too large change - definitely no
            larger than € 20.
        </li>
        <li>
            Ensure you always check in and out: at the door in a tram or bus, when you exit the station
            for a metro or train. Not checking out may invalidate a single use ticket, and will cost a lot extra
            on normal chipcards.
        </li>
        <li>
            In trams, the doors do not open when you check out. There is a green button on either side of
            the door to open it.
        </li>
        <li>
            The paper single use cards are only valid for one transport company: a GVB 24-hour card will not
            work on trains or on a Connexxion bus, though you're unlikely to encounter the latter.
        </li>
        <li>
            Most transit stops somewhere between 0:00 and 1:30, but there are night buses. They have separate pricing:
            no other cards are valid. The easiest way to travel is to buy a card on the bus for € 4,50.
            The ticket will allow you to transfer into another bus. Some night buses only run once an hour.
        </li>
    </ul>

    <h3>Hotel</h3>
    <p>
        Most speakers and core developers are in the <a href="http://www.volkshotel.nl">Volkshotel</a>, a bit southeast
        of the center, right next to the Wibautstraat metro station. There is a metro station right in front of the
        door, with metro's running to the center and Central Station very regularly.
    </p>

    <h3>Visa requirements</h3>
    <p>
        Depending on your nationality, you may need to request a Schengen visa in advance.
        See the <a href="http://www.government.nl/issues/visa-for-the-netherlands-and-the-caribbean-parts-of-the-kingdom/short-stay-visas-for-the-netherlands">Dutch government visa website</a> for more information.
        We can provide invitation letters if needed.
        If you do need a visa, make sure you request one as soon as possible.
    </p>
</section>

{% endblock %}
